---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am a young man deeply engaged in the IT field. I work tirelessly to enhance my professional skills and develop my personal authenticity. Combined with a strong sense of quality, determination, and an effective approach to tasks, I am a valuable colleague with excellent oversight and an outgoing, positive character.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Datatekniker med speciale i programmering"
      subtitle="2020 to 2025 at Syddansk Erhvervsskole, Odense, Denmark"
    />
    <TimeLineElement
      title="Python Course"
      subtitle="2021 at Syddansk Universitet, Odense, Denmark"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="CTO & CFO at Tourly I/S"
      subtitle="From 2024 to Present at Tourly I/S, Denmark"
    >
      Responsible for building and maintaining the company infrastructure, including server administration, security, and software development.
    </TimeLineElement>
    <TimeLineElement
      title="Software Developer at VK-Data APS"
      subtitle="From 2021 to Present at VK-Data APS, Denmark"
    >
      Developed and maintained custom software solutions for the ERP system Odoo, and played a key role in version migration projects.
    </TimeLineElement>
    <TimeLineElement
      title="Board Member at 4. Maj Kollegiet, Tønder"
      subtitle="From 2021 to Present at 4. Maj Kollegiet, Tønder, Denmark"
    >
      Contributed to digitizing the dormitory's online presence and pushed for digital modernization.
    </TimeLineElement>
  </div>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>SQL & PostgreSQL</li>
    <li>JavaScript</li>
    <li>XML</li>
    <li>HTML</li>
    <li>SCSS</li>
    <li>Problem-solving and analysis</li>
    <li>Structure and systematics</li>
    <li>Critical thinking</li>
    <li>Effective communication</li>
    <li>Fundamental business understanding</li>
  </ul>
</BaseLayout>
